.arrow {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}
