.general-form {
  float: left;
  width: 28vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  min-height: 70vh;
  background-color: white;

  @include respond(phone) {
    float: none;
    text-align: center;
    display: inline-block;
    width: 90vw;
    margin: 2rem 5vw;
    padding: 2rem auto;
    min-height: 0;
  }
}
